  p {font-family: sans-serif;
  color: maroon; }

  p.green-tea {color: green;}
  p.rasberry {color: blue;}
  p.blueberry {color: purple;}
  p.cranberry {color: red;}


  body {font-family: sans-serif;}

  h1, h2 {
  color: gray;}


  h1 {border-bottom: 1px solid black;}

  em {font-family:Impact, velvitca, 'Arial', sans-serif;}